.items{

  display: block;
  }
 
 #What .items .item{
display:flex;
text-align: left;
 }
 #What .items .item i{
   align-self: center;
   margin-right: 1rem;;
 }

 /* smart phones */
 @media(max-width:500px){
   .navbar{
  flex-direction: column;
  align-items: center;
  }
  .navbar .logo{
    margin-bottom:0.5rem;
  }
  .navbar ul{
    margin-bottom: 0.5rem;
  }
/* showcase */
  .head h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }
  .head p{
    font-size:1.3rem;
    line-height: 1.8rem;
  }
  #Who .text-content{
    /* display:block; */
    } 
    #Who .image-content{
      display:none;
      } 
    
      .logo img{
        width:80%; 
      } 
      .logo div:last-child{
        display:none;
      } 
      #Contact{
        flex-direction: column;
       } 
       /* #contact .map{
         height:200%;
       } */


 }